.pagination {
    width: 20%;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.pagination button {
    background-color: cadetblue;
    border: 1px solid cadetblue;
    padding: 15px 35px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.pagination button:hover {
    background-color: white;
    color: cadetblue;
}

